*{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 14);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    border-color: aliceblue;
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: azure;
    outline: none;
}

input:hover{
    transition: 0.4s;
    border-color: rgb(205, 230, 252);
}

.btn{
    padding-inline: 40px;
}
.btn:hover{
    transition: 1.1s;
    background-color: aliceblue;
    color: black;
}
.login{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0vh;
    left: 10vw;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}

h1{
    color: white;
    text-align: center;
}